In [1]:
import pandas as pd
import numpy as np 
from sklearn import linear_model as lm
from word2number import w2n
import math

In [2]:
df=pd.read_csv("hiring.csv")
df.head(5)

  experience  test_score  interview_score  salary($)
0        NaN         8.0              8.0      50000
1        NaN         5.0              4.0      22000
2      three         6.0              5.0      30000
3       five         9.0              9.0      55000
4        six         3.0              5.0      13000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       15 non-null     object
 1   test_score       20 non-null     float64
 2   interview_score  21 non-null     float64
 3   salary($)        21 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 800.0+ bytes

As above we can see null values........   
First fill empty with zero the apply word to number else error shown

In [4]:
df.experience = df.experience.fillna('zero')
df.experience = df.experience.apply(w2n.word_to_num)

In [5]:
df.describe()

       experience  test_score  interview_score     salary($)
count   21.000000   20.000000        21.000000     21.000000
mean     5.000000    5.625000         5.547619  31042.857143
std      4.959839    2.869417         2.459191  19706.358655
min      0.000000    1.000000         1.000000   1800.000000
25%      0.000000    3.000000         4.000000  13000.000000
50%      4.000000    5.500000         6.000000  30000.000000
75%     10.000000    8.250000         7.500000  50000.000000
max     15.000000    9.000000         9.000000  60000.000000

In [6]:
score = math.floor(df['test_score'].mean())
score

5

In [7]:
df['test_score'] = df['test_score'].fillna(score)
df.head()

   experience  test_score  interview_score  salary($)
0           0         8.0              8.0      50000
1           0         5.0              4.0      22000
2           3         6.0              5.0      30000
3           5         9.0              9.0      55000
4           6         3.0              5.0      13000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       21 non-null     int64
 1   test_score       21 non-null     float64
 2   interview_score  21 non-null     float64
 3   salary($)        21 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 800.0 bytes

In [9]:
reg = lm.LinearRegression()

In [28]:
x=df[['experience','test_score','interview_score']]
y=df['salary($)']

In [27]:
df.reset_index(drop=True, inplace=True)
df

    experience  test_score  interview_score  salary($)
0            0         8.0              8.0      50000
1            0         5.0              4.0      22000
2            3         6.0              5.0      30000
3            5         9.0              9.0      55000
4            6         3.0              5.0      13000
5            0         2.0              1.0       3000
6           10         8.0              6.0      48000
7            1         1.0              2.0       2100
8           15         9.0              9.0      60000
9           13         7.5              7.5      40000
10          10         5.0              5.0      25000
11           0         1.0              1.0       1800
12           1         3.0              6.0      25000
13           4         5.0              4.0      36000
14           6         5.0              3.0      10000
15          11         9.0              8.0      55000
16          12         9.0              9.0      58000
17           0         2.0              6.0      12000
18           3         5.0              5.0      20000
19           5         6.0              7.0      35000
20           0         9.0              6.0      51000

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.1)

In [30]:
reg.fit(X_train,y_train)

LinearRegression()

In [31]:
pred=reg.predict(X_test)
pred.astype(float)

array([46321.06059897, 47902.26489157, 27659.42836429])

In [32]:
print(y_test[0:])

9     40000
20    51000
10    25000
Name: salary($), dtype: int64

In [33]:
pred.reshape(-1, 1)

array([[46321.06059897],
       [47902.26489157],
       [27659.42836429]])

In [34]:
reg.score(x,y)

0.9353237302069746

In [35]:
import statsmodels.api as sm

In [38]:
result = sm.OLS(y_train,X_train).fit()

In [39]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:              salary($)   R-squared (uncentered):                   0.967
Model:                            OLS   Adj. R-squared (uncentered):              0.961
Method:                 Least Squares   F-statistic:                              148.4
Date:                Wed, 15 Sep 2021   Prob (F-statistic):                    2.26e-11
Time:                        15:30:09   Log-Likelihood:                         -183.51
No. Observations:                  18   AIC:                                      373.0
Df Residuals:                      15   BIC:                                      375.7
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
experience        415.2556    513.853      0.808      0.432    -679.995    1510.506
test_score       4084.2594   1216.693      3.357      0.004    1490.939    6677.580
interview_score  1432.3990   1083.906      1.322      0.206    -877.892    3742.690
==============================================================================
Omnibus:                        1.781   Durbin-Watson:                   1.360
Prob(Omnibus):                  0.410   Jarque-Bera (JB):                0.998
Skew:                          -0.576   Prob(JB):                        0.607
Kurtosis:                       2.936   Cond. No.                         9.76
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [48]:
#parameters with high correlation
result.pvalues[result.pvalues < 0.3].sort_values()
#p value increased to 0.3 because 0.05 needs a large number of observations and we have only 20

test_score         0.004324
interview_score    0.206132
dtype: float64