In [1]:
import pandas as pd
from sklearn.datasets import load_digits
digits = load_digits()

In [2]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [3]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [4]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
df = pd.DataFrame(digits.data,digits.target)
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0

In [6]:
df['target'] = digits.target
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('target',axis='columns'), df.target, test_size=0.3)

**Using RBF kernel**

In [8]:
print(len(X_train))
print(len(X_test))

1257
540

In [9]:
from sklearn.svm import SVC

**https://data-flair.training/blogs/svm-kernel-functions/ **


We will use different kernels and describe each of those. 

We shall also see the score they give us corresponding to our dataset.

SVM algorithms use a set of mathematical functions that are defined as the kernel.
The function of kernel is to take data as input and transform it into the required form.
Different SVM algorithms use different types of kernel functions.
These functions can be different types.For example linear,nonlinear,polynomial,RBF,and sigmoid.

1.Using RBF kernel
 Gaussian radial basis function (RBF) 
 It is a general-purpose kernel; used when there is no prior knowledge about the data.

In [10]:
model = SVC(kernel='rbf')
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.987037037037037

3.Using Sigmoid kernel
We can use it as the proxy for neural networks.

In [11]:
model = SVC(kernel='sigmoid')
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.912962962962963

4.Using Linear kernel
It is useful when dealing with large sparse data vectors.
It is often used in text categorization. The splines kernel also performs well in regression problems.

In [14]:
model = SVC(kernel='linear')
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9833333333333333

5.Using polynomial kernel
name suggests kernel type

In [13]:
model = SVC(kernel='poly')
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.987037037037037